<template>
  <div class="em-element-button-bar">
    <q-btn-group class="bg-white">
      <q-item dense class="items-center">{{ type }}</q-item>
      <q-btn icon="settings" dense @click="emiter.emit('toggleElementSettingsBar', elementId)"></q-btn>
      <q-btn icon="delete" dense @click="emiter.emit('showElementDeleteConfirm', elementId)"></q-btn>
    </q-btn-group>
  </div>
  <slot></slot>
</template>

<script setup>
import emiter from 'src/js/emiter'

defineProps(['type', 'elementId'])
</script>
