<template>
  <q-drawer
    v-model="elementSettingsBar"
    :overlay="true"
    :width="640"
    :breakpoint="639"
    :persistent="true"
    side="right"
    bordered
  >
    <q-item class="items-center">
      <div class="text-h5">Element settings</div>
      <q-space></q-space>
      <q-btn class="text-grey" icon="close" flat round @click="onCloseBar"></q-btn>
    </q-item>
    <q-separator></q-separator>

    <div class="q-ma-md"
         v-for="(propViewType, key) in settingsStructure"
         :key="data.elementId + '_' + key"
    >
      <component
        :is="propertyViews[propViewType]"
        v-model="data.formData.settings[key]"
        :label="key"
      ></component>
    </div>

    <q-footer class="q-pa-md bg-white" bordered>
      <q-btn label="Save" type="submit" color="primary" @click="onSave" />
      <q-btn label="Reset" type="reset" class="q-ml-md text-dark" @click="onReset" />
    </q-footer>
  </q-drawer>
</template>

<script setup>
import { reactive, ref, computed } from 'vue'
import { useStore } from 'vuex'
import emiter from 'src/js/emiter'
import settingsViewsMap from 'components/elements/settingsViewsMap'
import propertyViews from 'components/propertyViews'
import Text from 'components/propertyViews/Text'
import Textarea from 'components/propertyViews/Textarea'

const store = useStore()
const elementSettingsBar = ref(false)
const settingsStructure = ref({})
const pageData = computed(() => {
  return store.getters.getPageData
})
const data = reactive({
  elementId: 0,
  formData: {},
})


function onSave() {
  const newPageData = JSON.parse(JSON.stringify(pageData.value))
  newPageData.elementMap[data.elementId] = JSON.parse(JSON.stringify(data.formData))
  store.commit('setPageData', newPageData)
}
function onReset() {
  data.formData = JSON.parse(JSON.stringify(pageData.value.elementMap[data.elementId]))
}
function onCloseBar() {
  onReset()
  elementSettingsBar.value = false
}
function onOpenBar() {
  emiter.emit('closeRightBar')
  elementSettingsBar.value = true
}
function onToggleBar() {
  elementSettingsBar.value ? onCloseBar() : onOpenBar()
}

emiter.on('toggleElementSettingsBar', (elementId) => {
  data.elementId = elementId
  data.formData = JSON.parse(JSON.stringify(pageData.value.elementMap[elementId]))
  onToggleBar()
  settingsStructure.value = settingsViewsMap[data.formData.type]
})
emiter.on('closeRightBar', () => {
  if (elementSettingsBar.value) {
    onCloseBar()
  }
})
</script>
