<template>
  <div class="em-grid-button-bar">
    <q-btn-group class="bg-white">
      <q-item dense class="items-center">{{ type }}</q-item>
      <q-btn icon="settings" dense @click="emiter.emit('toggleElementSettingsBar', gridId)"></q-btn>
      <q-btn icon="delete" dense @click="emiter.emit('showGridDeleteConfirm', gridId)"></q-btn>
    </q-btn-group>
  </div>
  <slot></slot>
</template>

<script setup>
import emiter from 'src/js/emiter'

defineProps(['type', 'gridId'])
</script>
