<template>
  <q-drawer
    v-model="pageTreeBar"
    :overlay="true"
    :width="320"
    :breakpoint="639"
    :persistent="true"
    bordered
  >
    <q-item class="items-center">
      <div class="text-h5">Page list</div>
      <q-space></q-space>
      <q-btn class="text-grey" icon="close" flat round @click="pageTreeBar = false"></q-btn>
    </q-item>
    <q-separator></q-separator>
    <div class="q-pa-md q-gutter-sm">
      <q-tree
        :nodes="pages.tree"
        node-key="label"
        v-model:expanded="pages.expanded"
      >
        <template v-slot:default-header="prop">
          <div class="row col items-center">
            <div class="col text-primary text-weight-bold">{{ prop.node.label }}</div>
            <q-space></q-space>
            <q-btn-group flat>
              <q-btn :to="prop.node.url" @click.stop size="xs" flat dense icon="launch" color="primary"></q-btn>
<!--              <q-btn :to="prop.node.url" @click.stop size="xs" flat dense icon="settings" color="primary"></q-btn>-->
            </q-btn-group>

          </div>
        </template>
      </q-tree>
    </div>
  </q-drawer>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { PermissionMap } from 'modules/auth/accessController'
import AccessController from 'modules/auth/accessController'
import client from 'src/api/client'
import emiter from 'src/js/emiter'

const pages = reactive({
  tree: [],
  expanded: [],
})
const pageTreeBar = ref(false)

function getTreeItem (page) {
  let treeItem = { ...page, ...{ label: page.url } }

  if (page.hasOwnProperty('children') && page.children.length > 0) {
    let children = []
    page.children.forEach((childItem) => {
      children.push(getTreeItem(childItem))
    })
    treeItem.children = children
  }
  return treeItem
}

client.fetchPageList().then((response) => {
  pages.tree = response.map((page) => {
    return getTreeItem(page)
  })
  pages.expanded.push(pages.tree[0].label)
})


function onToggleBar() {
  if (!pageTreeBar.value) {
    emiter.emit('closeLeftBar')
  }
  pageTreeBar.value = !pageTreeBar.value
}
emiter.on('togglePagesTreeBar', onToggleBar)
emiter.on('closeLeftBar', () => {
  if (pageTreeBar.value) {
    pageTreeBar.value = false
  }
})
</script>
