<template>
  <slot></slot>
</template>

<script setup>
import emiter from 'src/js/emiter'
import { useQuasar } from 'quasar'
import { useStore } from 'vuex'
import { computed } from 'vue'

const $q = useQuasar()
const store = useStore()
const pageData = computed(() => {
  return store.getters.getPageData
})

function deleteConfirm (message, okCallback) {
  $q.dialog({
    title: 'Delete confirmation',
    message: message,
    cancel: true,
  }).onOk(() => {
    if (typeof okCallback === 'function') {
      okCallback()
    }
  })
}

function deleteGridConfirm (gridId) {
  deleteConfirm('Would you like to delete grid with child elements?', () => {
    deleteGrid(gridId)
  })
}

function deleteElementConfirm (elementId) {
  deleteConfirm('Would you like to delete element?', () => {
    deleteElement(elementId)
  })
}

function deleteElement (elementId) {
  let newPageData = JSON.parse(JSON.stringify(pageData.value))
  store.commit('setPageData', deleteElementFromPageData(elementId, newPageData))
}

function deleteElementFromPageData (elementId, pageData) {
  const parentGridId = pageData.elementMap[elementId].parentGrid || null
  let parentGridElements
  if (parentGridId) {
    parentGridElements = pageData.gridMap[parentGridId].childrenElements
  } else {
    parentGridElements = pageData.childrenElements || []
  }
  const elementIndex = parentGridElements.indexOf(elementId)
  parentGridElements.splice(elementIndex, 1)
  delete pageData.elementMap[elementId]

  return pageData
}

function deleteGrid (gridId) {
  let newPageData = JSON.parse(JSON.stringify(pageData.value))
  store.commit('setPageData', deleteGridFromPageData(gridId, newPageData))
}

function deleteGridFromPageData (gridId, pageData) {
  const parentGridId = pageData.gridMap[gridId].parentGrid || null
  if (pageData.gridMap[gridId].childrenElements.length > 0) {
    pageData.gridMap[gridId].childrenElements.forEach((elementId) => {
      deleteElementFromPageData(elementId, pageData)
    })
  }
  if (pageData.gridMap[gridId].childrenGrids.length > 0) {
    pageData.gridMap[gridId].childrenGrids.forEach((gridId) => {
      deleteGridFromPageData(gridId, pageData)
    })
  }

  let parentGrids
  if (parentGridId) {
    parentGrids = pageData.gridMap[parentGridId].childrenGrids
  } else {
    parentGrids = pageData.childrenGrids || []
  }
  const gridIndex = parentGrids.indexOf(gridId)
  parentGrids.splice(gridIndex, 1)
  delete pageData.gridMap[gridId]

  return pageData
}

emiter.on('showGridDeleteConfirm', (gridId) => {
  deleteGridConfirm(gridId)
})
emiter.on('showElementDeleteConfirm', (elementId) => {
  deleteElementConfirm(elementId)
})

</script>
