<template>
  <q-drawer
    v-model="pageSettingsBar"
    :overlay="true"
    :width="320"
    :breakpoint="639"
    :persistent="true"
    bordered
  >
    <q-item class="items-center">
      <div class="text-h5">Page settings</div>
      <q-space></q-space>
      <q-btn class="text-grey" icon="close" flat round @click="onCloseBar"></q-btn>
    </q-item>
    <q-separator></q-separator>

    <div class="q-pa-md">

      <div class="text-subtitle1 text-primary q-mb-md">Meta data</div>

      <q-input
        outlined
        v-model="data.formData.metaData.title"
        label="Meta title"
        lazy-rules
        :rules="[ data.formData.metaData.title.length > 0 || 'Please type something']"
      />

      <div class="text-subtitle1 text-primary q-mb-md">Properties</div>

      <q-input
        outlined
        v-model="data.formData.props.url"
        label="Url"
        lazy-rules
        :rules="[ data.formData.props.url.length > 0 || 'Please type something']"
      />
    </div>

    <q-footer class="q-pa-md bg-white" bordered>
      <q-btn label="Save" type="submit" color="primary" @click="onSave" />
      <q-btn label="Reset" type="reset" class="q-ml-md text-dark" @click="onReset" />
    </q-footer>
  </q-drawer>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { useMeta } from 'quasar'
import emiter from 'src/js/emiter'
import { PageSettingsType } from 'src/js/types'


const pageSettingsBar = ref(false)
const data = reactive({
  pageData: PageSettingsType,
  formData: PageSettingsType
})

emiter.on('pageLoad', (pageData) => {
  data.pageData =  JSON.parse(JSON.stringify(pageData.settings))
  data.formData =  JSON.parse(JSON.stringify(pageData.settings))
})


function onSave() {
  data.pageData = JSON.parse(JSON.stringify(data.formData))
  useMeta(data.pageData.metaData)
}
function onReset() {
  data.formData = JSON.parse(JSON.stringify(data.pageData))
}
function onCloseBar() {
  onReset()
  pageSettingsBar.value = false
}
function onOpenBar() {
  emiter.emit('closeLeftBar')
  pageSettingsBar.value = true
}
function onToggleBar() {
  pageSettingsBar.value ? onCloseBar() : onOpenBar()
}

emiter.on('togglePageSettingsBar', onToggleBar)
emiter.on('closeLeftBar', () => {
  if (pageSettingsBar.value) {
    onCloseBar()
  }
})
</script>
