<template>
<!--  <q-input-->
<!--    outlined-->
<!--    type="textarea"-->
<!--    v-model="value"-->
<!--    :label="label"-->
<!--  />-->
  <q-editor
    v-model="value"
    toolbar-bg="blue-1"
    :toolbar="[
        ['viewsource', 'fullscreen'],
        ['undo', 'redo'],
        ['removeFormat'],
        [
          {
            icon: $q.iconSet.editor.align,
            fixedLabel: true,
            list: 'only-icons',
            options: ['left', 'center', 'right', 'justify']
          },
        ],
        [
          {
            icon: $q.iconSet.editor.bold,
            fixedLabel: true,
            list: 'only-icons',
            options: ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
          },
        ],
        ['link', 'hr'],
        [
          {
            label:$q.lang.editor.formatting,
            fixedLabel: true,
            icon: $q.iconSet.editor.formatting,
            list: 'no-icons',
            options: [
              'p',
              'h1',
              'h2',
              'h3',
              'h4',
              'h5',
              'h6',
              'code'
            ]
          },
          // {
          //   icon: $q.iconSet.editor.fontSize,
          //   // fixedLabel: true,
          //   // fixedIcon: true,
          //   list: 'no-icons',
          //   options: [
          //     'size-1',
          //     'size-2',
          //     'size-3',
          //     'size-4',
          //     'size-5',
          //     'size-6',
          //     'size-7'
          //   ]
          // },
          {
            label:$q.lang.editor.defaultFont,
            fixedLabel: true,
            icon: $q.iconSet.editor.font,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'default_font',
              'arial',
              'arial_black',
              'comic_sans',
              'courier_new',
              'impact',
              'lucida_grande',
              'times_new_roman',
              'verdana'
            ]
          },
        ],
        [
          {
            icon: $q.iconSet.editor.quote,
            fixedLabel: true,
            list: 'only-icons',
            options: ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
          },
        ],




      ]"
    :fonts="{
        arial: 'Arial',
        arial_black: 'Arial Black',
        comic_sans: 'Comic Sans MS',
        courier_new: 'Courier New',
        impact: 'Impact',
        lucida_grande: 'Lucida Grande',
        times_new_roman: 'Times New Roman',
        verdana: 'Verdana'
      }"
  />
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps(['modelValue', 'label'])
const emit = defineEmits(['update:modelValue'])

const value = computed({
  get() {
    return props.modelValue || ''
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>
