<template>
  <q-input
    outlined
    v-model="value"
    :label="label"
  />
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps(['modelValue', 'label'])
const emit = defineEmits(['update:modelValue'])

const value = computed({
  get() {
    return props.modelValue || ''
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>
