.page-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}


.em-grid {
  outline: dashed 1px darkred;
  outline-offset: -1px;
  position: relative;
  padding: 45px 0;
  z-index: 1;
  transition: padding .1s;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #dc8791;
    opacity: .2;
  }
  //
  //&:hover {
  //  &:after {
  //    content: '';
  //  }
  //}
  &.selected {
    &:after {
      content: '';
    }
  }

}

.em-element {
  position: relative;
  outline: dashed 1px darkgreen;
  outline-offset: -1px;
  padding: 1px 0;

  &:hover {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #26a69a;
      opacity: .1;
      z-index: 1;
    }
  }
}
.em-element-wrap {
  position: relative;
}

.em-element-button-bar {
  position: absolute;
  right: 5px;
  margin-top: 5px;
  //top: 20px;
  z-index: 2;
}
.em-grid-button-bar {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 2;
}
