<template>
  <q-layout view="hHh LpR lFr">
    <q-header elevated>
      <q-toolbar class="bg-primary text-white">
        <q-btn flat to="/">
          <q-icon
            size="sm"
            name="hardware"
            class="q-pr-sm"
          />
          <div>Ama Page Bulder</div>
        </q-btn>

        <q-btn
          flat
          round
          icon="menu"
          class="q-mr-sm"
          @click="emiter.emit('togglePagesTreeBar')"
        >
        </q-btn>
        <q-btn
          v-if="canEdit"
          flat
          round
          icon="settings"
          @click="emiter.emit('togglePageSettingsBar')"
        >
          <q-tooltip>
            Page settings
          </q-tooltip>
        </q-btn>

        <q-checkbox
          v-model="editTools.editGrids"
          checked-icon="view_quilt"
          unchecked-icon="view_quilt"
          keep-color
          :color="editTools.editGrids ? 'orange' : 'white'"
          @click="toggleEditMode(editModeTools.editGrids)"
        >
          <q-tooltip>
            Edit grids
          </q-tooltip>
        </q-checkbox>
        <q-checkbox
          v-model="editTools.editElements"
          checked-icon="dashboard_customize"
          unchecked-icon="dashboard_customize"
          keep-color
          :color="editTools.editElements ? 'orange' : 'white'"
          @click="toggleEditMode(editModeTools.editElements)"
        >
          <q-tooltip>
            Edit elements
          </q-tooltip>
        </q-checkbox>

        <q-space></q-space>

        <div v-if="user" class="q-mr-sm">
          <q-avatar size="sm" color="red">{{ user.name.slice(0, 1).toUpperCase() }}</q-avatar>
          <div class="inline-block q-pl-sm">{{ user.name }}</div>
        </div>

        <q-btn v-if="user" @click="auth.logout" flat round icon="logout" />
        <q-btn v-else to="/login" flat round icon="login" />

      </q-toolbar>
    </q-header>

    <PagesTreeBar></PagesTreeBar>
    <PageSettingsBar></PageSettingsBar>
    <ElementSettingsBar></ElementSettingsBar>
    <router-view />

  </q-layout>
</template>

<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'
import emiter from 'src/js/emiter'
import auth from 'modules/auth'
import PagesTreeBar from 'components/PagesTreeBar'
import PageSettingsBar from 'components/PageSettingsBar'
import ElementSettingsBar from 'components/ElementSettingsBar'
import AccessController, { PermissionMap } from 'modules/auth/accessController'
import { useEditTools, toggleEditMode, editModeTools } from 'src/js/editTools'

const store = useStore()
const user = computed(() => store.getters['auth/getCurrentUser'])
const canEdit = computed(() => AccessController.isUserHasPermission(user.value, PermissionMap.canEditPage))
const editTools = useEditTools()
</script>
