<template>
  <q-card class="q-my-lg">
    <q-card-section v-if="data.settings.title || data.settings.subTitle">
      <div v-if="data.settings.title" class="text-h6">{{ data.settings.title }}</div>
      <div v-if="data.settings.subTitle" class="text-subtitle2">{{ data.settings.subTitle }}</div>
    </q-card-section>
    <q-separator />
    <q-card-section v-if="data.settings.body" v-html="data.settings.body"></q-card-section>
    <!--      <q-separator />-->
    <!--      <q-card-actions align="right">-->
    <!--        <q-btn>card action 1</q-btn>-->
    <!--        <q-btn>card action 2</q-btn>-->
    <!--      </q-card-actions>-->
  </q-card>
</template>

<script setup>
const props = defineProps(['data'])
</script>
