<template>
  <component
    :class="{ 'em-grid': editTools.editGrids, 'selected':  selectedGrid === gridId}"
    v-for="gridId in childrenGrids"
    :is="PageGrids[gridMap[gridId].type]"
    :key="parentKey + '_g' + gridId"
    :parentKey="parentKey + '_g' + gridId"
    :childrenGrids="gridMap[gridId].childrenGrids || []"
    :childrenElements="gridMap[gridId].childrenElements || []"
    :elementMap="elementMap || {}"
    :gridMap="gridMap || {}"
    @mouseover="onMouseOverGrid(gridId)"
    @mouseleave="onMouseLeaveGrid"
  >
    <template  v-if="editTools.editGrids" #editButtons>
      <GridButtonBar
        :type="gridMap[gridId].type"
        :gridId="gridId"
      ></GridButtonBar>
    </template>
  </component>

  <div v-if="editTools.editElements && childrenElements.length > 0" class="em-element-wrap">
    <ElementButtonBar
      v-for="elementId in childrenElements"
      :key="parentKey + '_c' + elementId"
      :type="elementMap[elementId].type"
      :elementId="elementId"
    >
      <component
        class="em-element"
        :is="PageElements[elementMap[elementId].type]"
        :data="elementMap[elementId]"
      >
      </component>
    </ElementButtonBar>
  </div>
  <component
    v-else
    v-for="elementId in childrenElements"
    :key="parentKey + '_e' + elementId"
    :is="PageElements[elementMap[elementId].type]"
    :data="elementMap[elementId]"
  >
  </component>
</template>

<script setup>
import {  ref } from 'vue'
import PageElements from 'components/elements'
import PageGrids from 'components/grids'
import ElementButtonBar from 'src/components/ElementButtonBar'
import GridButtonBar from 'src/components/GridButtonBar'
import { useEditTools, editModeTools } from 'src/js/editTools'

const props = defineProps(['parentKey', 'childrenGrids', 'childrenElements', 'elementMap', 'gridMap'])
const editTools = useEditTools()
let parentKey = props.parentKey || ''


const selectedGrid = ref(null)
function onMouseOverGrid(gridId) {
  selectedGrid.value = gridId
}
function onMouseLeaveGrid() {
  selectedGrid.value = null
}
</script>
