<template>
  <div class="col">
    <slot name="editButtons"></slot>
    <BaseGrid :="props"></BaseGrid>
  </div>
</template>

<script setup>
import BaseGrid from './BaseGrid'

const props = defineProps(['parentKey', 'childrenGrids', 'childrenElements', 'elementMap', 'gridMap'])
</script>
