<template>
  <q-page class="flex flex-center q-pa-md-md">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-card>
        <q-card-section>
          <div class="text-h6">Login</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input
            outlined
            v-model="login"
            label="Login"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
          />
          <q-input
            outlined
            type="password"
            v-model="password"
            label="Password"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
          />
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-btn label="Submit" type="submit" color="primary" :loading="load"/>
          <q-btn label="Reset" type="reset" class="q-ml-sm"/>
        </q-card-section>
      </q-card>
    </q-form>
  </q-page>
</template>

<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import auth from 'modules/auth'

const router = useRouter()
const store = useStore()

const load = ref(false)
const login = ref(null)
const password = ref(null)

if (auth.isLoggedIn()) {
  router.push('/')
}

function onSubmit () {
  load.value = true
  auth.login(login.value, password.value).then((response) => {
    store.dispatch('auth/setCurrentUser', auth.getCurrentUser())
    router.push('/')
  }, (error) => {
    console.log(error)
  }).finally(() => {
    load.value = false
  })
}

function onReset () {
  login.value = null
  password.value = null
}
</script>
