<template>
  <PageEditController></PageEditController>
  <q-page v-if="load" class="page-content q-pt-xl">
    <q-skeleton height="50px" class="q-mb-lg" />
    <q-skeleton height="150px" class="q-mb-lg" />
    <q-skeleton height="50px" class="q-mb-lg" />
    <q-skeleton height="150px" class="q-mb-lg" />
  </q-page>
  <q-page v-else class="page-content q-pt-xl" :class="{ 'edit-mode': editMode }" >
    <BaseGrid
      :parentKey="''"
      :childrenGrids="data.childrenGrids || []"
      :childrenElements="data.childrenElements || []"
      :elementMap="data.elementMap || {}"
      :gridMap="data.gridMap || {}"
    ></BaseGrid>
  </q-page>
</template>

<script setup>
import { computed, ref } from 'vue'
import { PermissionMap } from 'modules/auth/accessController'
import AccessController from 'modules/auth/accessController'
import client from 'src/api/client'
import { useRouter } from 'vue-router'
import { useMeta } from 'quasar'
import { useStore } from 'vuex'
import BaseGrid from 'components/grids/BaseGrid'
import PageEditController from 'components/PageEditController'
import emiter from 'src/js/emiter'
import { useEditMode } from 'src/js/editTools'

const load = ref(true)
const router = useRouter()
const store = useStore()
const editMode = useEditMode()
router.afterEach(() => {
  updatePageData()
})
const data = computed(() => {
  return store.getters.getPageData
})
useMeta(() => {
  return data.value.settings.metaData
})

function updatePageData () {
  load.value = true
  client.fetchPageData(location.pathname).then((response) => {
    store.dispatch('setPageData', response)

    emiter.emit('pageLoad', response)
  }).finally(() => {
    load.value = false
  })
}
updatePageData()
</script>
