<template>
  <q-list v-if="users.length > 0" bordered separator style="min-width: 320px">
    <q-item v-for="(user) in users" :key="user.id">
      <q-item-section avatar>
        <q-skeleton type="QAvatar"/>
      </q-item-section>
      <q-item-section>
        <q-item-label overline>id: {{ user.id }}</q-item-label>
        <q-item-label>{{ user.name }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup>

import { useQuasar } from 'quasar'
import { useStore } from 'vuex'
import { computed, onBeforeMount } from 'vue'

const store = useStore()
const users = computed(() => {
  return store.getters['users/getUserList']
})
const $q = useQuasar()

onBeforeMount(() => {
  $q.loading.show()
  store.dispatch('users/fetchUserList')
  .then(userList => {
    $q.loading.hide()
  })
})

</script>
